.post-card-content {
  padding-top: 0rem;
}

.post-card-type {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.post-card-type .tag {
  margin-right: 0.5rem;
}

.small-post-card .post-card-type {
  margin-top: 0.5rem;
}

.single-link-post .title {
    transition: color 0.2s ease;
}

.single-link-post {
  color: var(--bulma-text);
  text-decoration: var(--bulma-link-text-decoration);
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

.single-link-post:hover .block {
  text-decoration: var(--bulma-link-text-decoration);
}

.single-link-post:hover .image {
    filter: brightness(80%);
    transition: filter 0.2s ease;
}
.single-link-post:hover .title {
}